   .tabs {
	   display:flex;
    position: relative; 
	margin-top: 60px;
   }
   .tab, .tab-title {
    display: inline-block; 
   }
   .tab input[type="radio"] { display: none; }
   .tab-title {
    /*background: #ccc; */
    padding: 5px 10px;
    /*border: 1px solid #666;  */
   }
   .tab-content {
    position: absolute; 
   /* border: 1px solid #666; */
    padding: 10px; 
    left: 0; 
    width: 33%; 
    display: none; 
   }
   .tab :checked + .tab-title {
    position: relative; 
   /* background: #fff; */
    
   }
   .tab :checked ~ .tab-content {
    display: block; 
   }
   .tab-title:hover {
   	background-color:rgb(212, 212, 212);
   /*	border-bottom: 1px solid #000;*/
   }